
*{
 margin: 0 ; 
line-height: 1.5;
      
}


html,
 body{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/16/63/0358257bd48f668.jpg"); 
    font-size: 18px;
    height:100%;

}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px;
  }



h1{
    background-color: teal;
   color: #ffffff;  
  
} 


h2{
    color:teal;
    margin-bottom: 20px;
}

h4{
    position: absolute;
    bottom:20%;
    z-index: 1;
    padding:2px;
    width:200px;
    color: #dddddd;
    font:18px;
    background-color: teal;
    text-align: center;
    }

.borderBottom{
    border-bottom: #777777 2px solid ;
}

.floatleft{
    float: left;
}

footer{

    position: sticky;
    background-color:#666666;
    color: #ffffff;
    border-top: 10px solid teal;
    padding: 10px;
    text-align: center;
    top:0;
    width:100%;
   
}

.bc-color{
    background-color: #ffffff;
}

.push{
min-height: 25%;
}

/* img{
    height: 240px;
} */

.img2{

    width:200px;
   height: 150px;
}

.container2{
    width:60%;
}

p{
    margin-top: 1000px;
}